-page_title "Edit Compliment for #{@employee.name}"

-content_for :options do
  =link_to "Back to List", employee_screenings_path( @employee ), :class => 'btn btn-primary btn-block'

=render :partial => 'form'
