-page_title 'Yards' 

-content_for :options do
  =link_to 'New Yard', new_yard_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    -@yards.each do |yard|
      %tr
        %td
          =link_to 'edit', edit_yard_path( yard ), :class => 'btn btn-default btn-xs'
          &nbsp;
          &nbsp;
          =yard.name
