%h2 What do you want to see?
I don't understand what you want to see on this page.
Notes are supposed to be suplimentary for other important things, e.g. Service Orders, Routes, Customers.
When you are on a service order page, you can see all the notes associated with the service order.

Maybe you get to this page by accident.

Please send your wishes and concerns to a.o.lysenko@gmail.com
