%a{href: employee_path(employee), class: 'employee-card'}
  .employee-pic
    .thumb.hidden-xs=image_tag employee.picture.url(:thumb)
    .availability.label-full
      -if employee.status == 'Terminated'
        .label.label-warning Terminated
      -elsif employee.status == 'Prospect'
        .label.label-default Prospect
      -else
        =render employee.next_availability

    -if employee.assignment
      .my-assignment
        %b=employee.assignment.project.to_s
  .employee-details
    .name=employee.name

    -if !@search.special_details.blank?
      =render partial: @search.special_details, locals: {employee: employee}
    -elsif employee.positions.empty?
      .text-muted No competencies set up
    -else
      -employee.competencies.each do |comp|
        .competency
          =comp.position.name
          -if comp.rating == 'A'
            .label.label-success A
          -elsif comp.rating == 'B'
            .label.label-info B
          -elsif comp.rating == 'C'
            .label.label-warning C
          -elsif comp.rating == 'D'
            .label.label-default D
          -else
            .label.label-danger Not Set

    .spacer
    -employee.phone_numbers.each do |label, number|
      .line
        %b=label
        =": "
        =number

    %p.last-screening
      %b Last Screening:
      -if employee.date_of_last_screening
        =employee.date_of_last_screening
      -else
        %span.text-muted not on file
    =form_for employee, url: employee_path(employee, return_to: root_path(page: params[:page])), html: {class: 'form-inline disable-link alerts-form'} do |f|
      .form-group
        =f.text_area :alerts, class: 'form-control clearable', placeholder: 'Alerts', onClick: "this.setSelectionRange(0, this.value.length); return(false);"
      =f.submit "Save", class: 'btn btn-default btn-sm'
