%a{href: employee_path(employee)}
  .row.employee
    .col-sm-4
      .thumb.hidden-xs=image_tag employee.picture.url(:thumb)
      .availability.label-full
        -if employee.status == 'Terminated'
          .label.label-warning Terminated
        -elsif employee.status == 'Prospect'
          .label.label-default Prospect
        -else
          =render employee.next_availability
    .col-sm-8.col-xs-12
      .name=employee.name

      -if employee.positions.empty?
        .text-muted No competencies set up
      -else
        =employee.positions.map(&:to_s).join(', ')
      .spacer
      -employee.phone_numbers.each do |label, number|
        .line
          %b=label
          =": "
          =number

      %p.last-screening
        %b Last Screening:
        -if employee.date_of_last_screening
          =employee.date_of_last_screening
        -else
          %span.text-muted not on file
      =form_for employee, url: employee_path(employee, redirect_to: root_path(page: params[:page])), html: {class: 'form-inline disable-link'} do |f|
        .form-group.form-group-sm.form-group-small
          =f.text_field :assignment, class: 'form-control clearable', placeholder: 'Assignment', onClick: "this.setSelectionRange(0, this.value.length); return(false);"
        =f.submit "Save", class: 'btn btn-default btn-sm'
