%a{href: employee_path(employee)}
  .employee
    .thumb=image_tag employee.picture.url(:thumb)
    .name=employee.name

    -employee.phone_numbers.each do |label, number|
      .line
        %b=label
        =": "
        =number


    %p.last-screening
      %b Last Screening:
      -if employee.date_of_last_screening
        =employee.date_of_last_screening
      -else
        %span.text-muted not on file
    %p.availability
      -if employee.status == 'Terminated'
        .label.label-warning Terminated
      -elsif employee.status == 'Prospect'
        .label.label-default Prospect
      -else
        =render employee.next_availability
