=simple_form_for @employee, wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|
  %legend Details

  =f.input :first_name
  =f.input :middle_name
  =f.input :last_name
  =f.input :dob, as: :dated
  =f.input :email
  =f.input :nationality
  =f.input :ssn, label: 'SSN'
  =f.input :gsn, :label => 'GS #'
  =f.input :transportation_needed, as: :select
  =f.input :body_weight
  =f.input :bag_weight
  =f.input :eligible_for_rehire, as: :select
  -if @employee.picture.file?
    .col-sm-offset-3=image_tag @employee.picture.url(:thumb)
  -else
    =f.input :picture

  %legend Phone Numbers

  =f.input :cell_phone, label: 'Cell'
  =f.input :home_phone, label: 'Home'
  =f.input :alt_phone, label: 'Alt'

  %legend Address

  =f.input :street1, label: 'Street'
  =f.input :street2, label: 'Apt, etc.'
  =f.input :city
  =f.input :state
  =f.input :zipcode

  %legend Identification

  =f.input :ident_issuer, :label => 'Issuer', :hint => 'Country or State'
  =f.input :ident_number, :label => 'Number'
  =f.input :ident_issue_date, :label => 'Date Issued', :as => :dated
  =f.input :ident_expiration_date, :label => 'Expiration Date', :as => :dated

  =f.button :submit
