-if next_availability.current?
  .label.label-info=next_availability.to_s
-elsif next_availability.immediate?
  .label.label-success=next_availability.to_s
-elsif next_availability.known?
  .label.label-info=next_availability.to_s
-else
  .label.label-warning=next_availability.to_s
