-page_title 'Employee List'

-content_for :options do
  =link_to "New Employee", new_employee_path, class: 'btn btn-primary btn-block'

-@employees.each do |employee|
  .col-sm-6
    .panel.panel-simple
      .panel-body
        =render employee

.clearfix
