-page_title @employee.name

-content_for :outside do
  -if @employee.expired_certs.size > 0
    .alert.alert-warning
      %h3 Expired Certs!
      The following certifications are out of date.
      -@employee.expired_certs.each do |cert|
        %li=link_to cert.description, employee_cert_path(@employee, cert)
-content_for :options do
  =link_to 'Edit', edit_employee_path( @employee ), :class => 'btn btn-block btn-primary'
  .spacer
  =link_to 'Certs', employee_certs_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Competencies', employee_competencies_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Contacts', employee_contacts_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Reprimands', employee_reprimands_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Restrictions', employee_restrictions_path( @employee ), :class => 'btn btn-block btn-default'

.row
  .col-sm-4
    .text-center=image_tag @employee.picture.url(:medium)
    .spacer
    %h4 Notes
    -if @employee.notes.any?
      =render @employee.notes
    -else
      %i no notes yet
    .spacer
    .spacer
    =render :partial => 'note_form'
  .col-sm-6
    -@employee.phone_numbers.each do |label, value|
      %h3 #{label}: #{value}

    %h3
    %table.table.striped
      -tabular_atts(@employee).each do |n, v|
        %tr
          %th=n
          %td=v
      %tr
        %td Competencies
        %td
          -if @employee.positions.empty?
            .text-muted No positions set.
          -else
            -@employee.positions.each do |position|
              %li=position.name
      %tr
        %td Reprimands
        %td=@employee.reprimands.count

    %h2 Restrictions
    %h4
      -if @employee.restrictions.empty?
        .alert.alert-success
          %h4
            %b No restrictions
      -else
        -@employee.restrictions.each do |restriction|
          %li
            %b=restriction.title
            =restriction.description
