-page_title @employee.name

-content_for :outside do
  -if @employee.expired_certs.size > 0
    .alert.alert-warning
      %h3 Expired Certs!
      The following certifications are out of date.
      -@employee.expired_certs.each do |cert|
        %li=link_to cert.description, employee_cert_path(@employee, cert)
-content_for :options do
  =link_to 'Edit', edit_employee_path( @employee ), :class => 'btn btn-block btn-primary'
  .spacer
  =link_to 'Certs', employee_certs_path( @employee ), :class => 'btn btn-block btn-default'
  =link_to 'Reprimands', employee_reprimands_path( @employee ), :class => 'btn btn-block btn-default'

.row
  .col-sm-4
    =image_tag @employee.picture.url(:medium)
  .col-sm-6
    -@employee.phone_numbers.each do |label, value|
      %h3 #{label}: #{value}

    %h3
    %table.table.striped
      -tabular_atts(@employee).each do |n, v|
        %tr
          %th=n
          %td=v
