=simple_form_for @position do |f|
  =f.input :name
  /=f.input :division
  .form-group.position_color
    %label.control-label.optional{for: 'position_color'} Color
    =f.text_field :color, class: 'jscolor'
  =f.submit
