-page_title 'Positions'

-content_for :options do
  =link_to 'New Position', new_position_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr 
      %td Name
      %td Employee Count
      %td

  %tbody
    -@positions.each do |position|
      %tr
        %td=position.name
        %td=position.employees.count
        %td
          -if position.removable?
            =link_to 'delete', position_path( position ), :class => 'btn btn-warning btn-xs', :data => {:confirm => 'Are you sure?'}, :method => :delete

=will_paginate @positions, :renderer => BootstrapPagination::Rails
