-page_title 'Positions'

-content_for :options do
  =link_to 'New Position', new_position_path, :class => 'btn btn-primary btn-block'

.alert.alert-info
  %b Heads Up!
  The numbers below may not add up to the total number of employees because one employee can have more than one position.

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Employee Count
      %th
      %th Customary Certs

  %tbody
    -@positions.each do |position|
      %tr
        %td=link_to position.name, position
        %td=position.employees.active.count
        %td
          -if position.removable?
            =link_to 'delete', position_path( position ), :class => 'btn btn-warning btn-xs', :data => {:confirm => 'Are you sure?'}, :method => :delete
        %td
          -position.customary_certs.each do |cc|
            %li=cc.cert_name
          =link_to position_customary_certs_path(position) do
            -if position.customary_certs.empty?
              .btn.btn-info.btn-xs Add
            -else
              .btn.btn-info.btn-xs Change
  %tfoot
    %tr
      %th All Active Employees
      %th=Employee.active.count
      %th
=will_paginate @positions, :renderer => BootstrapPagination::Rails
