:css
  .label-blank { background-color: white; color: inherit; }

  @media print {
    a[href]:after {
      content: none !important;
    }
  }
}
%h1
  %b="Certs for #{@position.name} Position"
  %span.text-muted as of #{Date.today}

.panel.panel-body
  Key:
  .label.label-danger No Docs
  .label.label-primary Expires in 30 to 45 days
  .label.label-warning Expires in 30 days or less days
  .label.label-danger Expired

  .spacer
  .spacer

  %table.table
    %thead
      %tr
        %th Name
        %th Status
        -@position.cert_names.each do |cert_name|
          %th=cert_name
    %tbody
      -@position.employees.active.alphabetical.each do |employee|
        %tr
          %th
            %nobr=link_to employee.name, employee
            .line=employee.cell_phone
          %td
            .availability.label-full
              =render employee.next_availability

          -@position.cert_names.each do |cert_name|
            %td
              -cert = employee.certs.find{|cert| cert.cert_name_id == cert_name.id}
              -if cert.nil?
                =link_to new_employee_cert_path(employee, cert: {cert_name_id: cert_name.id} ) do
                  .label.label-danger
                    No Docs
              -elsif cert.expires_on && cert.expires_on > 45.days.from_now
                =link_to employee_cert_path(employee, cert) do
                  =cert.expires_on
              -elsif cert.expires_on && cert.expires_on > 30.days.from_now
                =link_to employee_cert_path(employee, cert) do
                  .label.label-primary
                    =cert.expires_on
              -elsif cert.expires_on && cert.expires_on > Date.today
                =link_to employee_cert_path(employee, cert) do
                  .label.label-warning
                    =cert.expires_on
              -elsif cert.expires_on
                =link_to employee_cert_path(employee, cert) do
                  .label.label-danger
                    =cert.expires_on
              -else
                =link_to employee_cert_path(employee, cert) do
                  .label.label-blank No Date
