-page_title "Restrictions for #{@employee.name}"

-content_for :options do
  =link_to 'Back to Employee', employee_path(@employee), :class => 'btn btn-default btn-block'
  =link_to 'New Restriction', new_employee_restriction_path(@employee), :class => 'btn btn-primary btn-block'

-if @restrictions.empty?
  .text-muted No restrictions
-@restrictions.each do |restriction|
  .col-md-4
    .panel.panel-simple.panel-info
      .panel-heading
        .pull-right
          =link_to employee_restriction_path(@employee, restriction), method: :delete, data: {confirm: 'Are you sure? This action can not be undone.'} do
            %span.text-muted.glyphicon.glyphicon-trash
        .pull-right
          =link_to edit_employee_restriction_path(@employee, restriction) do
            %span.text-muted.glyphicon.glyphicon-wrench
            &nbsp;
        %b=restriction.title
      .panel-body.text-center
        -if restriction.attachment.file?
          =image_tag restriction.attachment.url(:thumb)
        .spacer
        -if restriction.effective_date
          Effective
          =restriction.effective_date

=will_paginate @restrictions, :renderer => BootstrapPagination::Rails
