=simple_form_for instance, wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|
  =f.input :date, as: :dated
  =f.association :project
  =f.input :action, collection: ['In', 'Out']
  =f.association :employee 
  =f.association :position
  =f.input :rate
  =f.input :note
  .spacer
  .spacer
  =f.button :submit
