-page_title "Crew Changes"

-content_for :options do
  =link_to 'New Crew Change', new_crew_change_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      -if !@project
        %th Project
      %th Date
      %th Action
      %th Employee
      %th Position
      %th
  -@crew_changes.each do |crew_change|
    %tr.crew_change
      -if !@project
        %td=crew_change.project.name
      %td=crew_change.date
      %td=crew_change.action
      %td=crew_change.employee
      %td=crew_change.position
      %td=link_to 'edit', edit_crew_change_path( crew_change ), :class => 'btn btn-xs btn-default'

=will_paginate @crew_changes, :renderer => BootstrapPagination::Rails
