-page_title 'Crew Changes'

-content_for :options do
  =link_to 'New Crew Change', new_crew_change_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  -@crew_changes.each do |crew_change|
    =render crew_change
