-page_title 'Heliports' 

-content_for :options do
  =link_to 'New Heliport', new_heliport_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    -@heliports.each do |heliport|
      %tr
        %td
          =link_to 'edit', edit_heliport_path( heliport ), :class => 'btn btn-default btn-xs'
          &nbsp;
          &nbsp;
          =heliport.name
