=simple_form_for [@employee, @cert], wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|
  =f.input :description
  =f.input :expires_on, as: 'string', hint: 'leave blank for "No Expiration"'
  =f.input :image

  =f.button :submit
