-page_title "#{@employee.name} Certs"

-content_for :options do
  =link_to 'Back to Employee', employee_path( @employee ), :class => 'btn btn-default btn-block'
  =link_to 'Send By Email', new_employee_cert_email_path( @employee ), :class => 'btn btn-info btn-block'
  =link_to 'Add Cert', new_employee_cert_path( @employee ), :class => 'btn btn-primary btn-block'

-if @certs.empty?
  .text-muted No information about certs yet.
-else
  -@certs.each do |cert|
    .col-sm-4
      .panel.panel-info.panel-simple.certificate
        .panel-body
          .pull-right
            =link_to employee_cert_path(@employee, cert), method: :delete, data: {confirm: 'Are you sure? This action can not be undone.'} do
              %span.text-muted.glyphicon.glyphicon-trash
          .pull-right
            =link_to edit_employee_cert_path(@employee, cert) do
              %span.text-muted.glyphicon.glyphicon-wrench
              &nbsp;

          %h4.cert-heading.no-margin=cert.cert_name
          .cert-image
            =link_to employee_cert_path(@employee, cert) do
              =image_tag cert.image.url(:thumb)
          %center.cert-expiration
            -if cert.expires_on
              .spacer
              ="expires on #{cert.expires_on.to_s}"
  .clearfix
