=simple_form_for instance, wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|

  =hidden_field_tag :then, params[:then]
  =f.association :project
  =f.association :employee, :collection => Employee.active.order(:first_name, :last_name)
  =f.association :position
  =f.input :rate, hint: 'leave blank to use the normal rate'
  =f.input :rate_interval, label: 'per', collection: PAY_INTERVALS, hint: 'leave blank to use the normal rate'
  =f.input :hours_per_day, default: 12

  %legend Dates
  =f.input :onboarding_date, as: :dated
  =f.input :offboarding_date, as: :dated, hint: "Don't know? Just guestimate. That way the dates will appear on the calendar and report."

  %legend Notes
  =f.input :note

  =f.button :submit
