-jobs.each do |job|
  %tr.job
    -if !@project
      %td=job.project.name
    -if !@employee
      %td=job.employee.name
    %td=job.position
    %td=job.hours_per_day
    %td=job.days
    %td=job.onboarding_date
    %td=job.offboarding_date
    %td=link_to 'edit', edit_job_path( job ), :class => 'btn btn-xs btn-default'
    %td=link_to 'change', new_job_change_path( job ), :class => 'btn btn-xs btn-warning'
    %td=link_to 'Delete', job_path(job, then: polymorphic_path( [ @parent, 'jobs' ] )), method: :delete, data: {confirm: 'Are you sure? This action can not be undone.'}, :class => 'btn btn-xs btn-danger'
