-page_title "Jobs"

-content_for :options do
  =link_to 'Add Job', new_job_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      -if !@project
        %th Project
      %th Employee
      %th Position
      %th Onboard
      %th Offboard 
      %th
  -@jobs.each do |job|
    %tr.job
      -if !@project
        %td=job.project.name
      %td=job.employee
      %td=job.position
      %td=job.onboarding_date
      %td=job.offboarding_date
      %td=link_to 'edit', edit_job_path( job ), :class => 'btn btn-xs btn-default'
      %td=link_to 'change', new_job_change_path( job ), :class => 'btn btn-xs btn-warning'

=will_paginate @jobs, :renderer => BootstrapPagination::Rails
