-page_title "Jobs for #{@employee.name}"

-content_for :options do
  =link_to 'Add Job', new_job_path(job: {employee_id: params[:employee_id]}), :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      -if !@project
        %th Project
      -if !@employee
        %th Employee
      %th Position
      %th Onboard
      %th Offboard
      %th
      %th

  -if @recent_jobs.not.empty?
    %thead
      %tr
        %th{colspan: 6}
          %h4 Recent Jobs
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: @recent_jobs}

  -if @current_job
    %thead
      %tr
        %th{colspan: 6}
          %h4 Current Job
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: [@current_job]}

  -if @upcoming_jobs.not.empty?
    %thead
      %tr
        %th{colspan: 6}
          %h4  Upcoming Jobs
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: @upcoming_jobs}

