-page_title "Jobs for #{@parent.name}"

-content_for :options do
  =link_to "Back to #{@parent.name}", @parent, :class => 'btn btn-default btn-block'
  =link_to 'Add Job', new_job_path(job: {employee_id: params[:employee_id], project_id: params[:project_id]}, then: polymorphic_path( [ @parent, 'jobs' ] )), :class => 'btn btn-primary btn-block'


%table.table.table-striped
  %thead
    %tr
      -if !@project
        %th Project
      -if !@employee
        %th Employee
      %th Position
      %th Hours / Day
      %th Days
      %th Onboard
      %th Offboard
      %th
      %th
      %th

  -if @recent_jobs.not.empty?
    %thead
      %tr
        %th{colspan: 9}
          %h4 Recent Jobs
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: @recent_jobs}

  -if @current_jobs
    %thead
      %tr
        %th{colspan: 9}
          %h4 Current
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: @current_jobs}
      / only one job for an employee, but can be many for a project

  -if @upcoming_jobs.not.empty?
    %thead
      %tr
        %th{colspan: 9}
          %h4  Upcoming Jobs
    %tbody
      =render :partial => 'jobs/jobs', locals:  {jobs: @upcoming_jobs}

