-page_title 'Companies'

-content_for :options do
  =link_to 'New Company', new_oil_co_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    -@oil_cos.each do |oil_co|
      %tr
        %td
          =link_to 'edit', edit_oil_co_path( oil_co ), :class => 'btn btn-default btn-xs'
          &nbsp;
          &nbsp;
          =oil_co.name
