.page-header
  %h1 Ops Notes

-content_for :options do

  %h3 Add Note
  =form_for OpsNote.new do |f|
    -1.times do
      .form-group
        %textarea{name: 'ops_notes[][body]', class: 'form-control'}
    =f.submit 'Save', class: 'btn btn-default btn-sm'

%ul
  -@ops_notes.each do |ops_note|
    .ops-note
      .pull-right
      %li
        .body=ops_note.body
        .text-muted
          =time_ago_in_words (ops_note.created_at - 2.days)
          ago
          =link_to ops_note, data: {confirm: 'Are you sure?'}, method: :delete do
            [Remove]

