.page-header
  %h1 Ops Notes

-content_for :options do

  %h3 Add Note
  =form_for OpsNote.new do |f|
    -1.times do
      .form-group
        %textarea{name: 'ops_notes[][body]', class: 'form-control'}
    =f.submit 'Save', class: 'btn btn-default btn-sm'

%ul
  -@ops_notes.each do |ops_note|
    .ops-note
      %li
        .body=ops_note.body
        .meta.text-muted
          =ops_note.author.try(:name)
          =" @ "
          =ops_note.created_at.strftime('%m/%d/%Y %I:%M %p')
          =link_to "[Remove]", ops_note, data: {confirm: 'Are you sure?'}, method: :delete
