=simple_form_for @user do |form|
  =form.input :password, :label => 'Type Password'
  =form.input :password_confirmation, :label => 'Confirm Password'

  .spacer
  .form-group
    .col-sm-offset-2.col-sm-10
      =form.button :submit, "Update Password", :class => 'btn btn-primary'
