-page_title 'Cert Names' 

-content_for :options do
  =link_to 'Add Certificate', new_cert_name_path, :class => 'btn btn-primary btn-block'

-@cert_names.each do |cert_name|
  %li
    =cert_name.name
    -if cert_name.removable?
      =link_to 'delete', cert_name_path( cert_name ), class: 'btn btn-warning btn-xs', action: :delete, data: {confirm: 'Are you sure?'}
    -else
      =" (in use)"
