-page_title "I'm surprised you're here."

%h3 
  As far as I know, there is no link to this page, so I'm surprised to find you here. If you have a moment, please
  =link_to 'email me', 'mailto:jw@mustmodify.com?subject=how+I+arrived+at+cert_names#show'
  at 
  =link_to 'jw@mustmodify.com', 'mailto:jw@mustmodify.com?subject=how+I+arrived+at+cert_names#show'
  to let me know how you arrived on this page, which is referred to as 'cert_names#show'.

%h3 Thanks,
%h3 jw
