-page_title @client.name
:css
  .client-status .label {
    width: 100%;
    display: block;
  }

-content_for :options do
  =link_to 'Edit', edit_client_path( @client ), :class => 'btn btn-block btn-primary'
  =link_to 'Back to List', clients_path, class: 'btn btn-default btn-block'

.row
  .col-sm-5
    %h3.client-status
      -if @client.active
        .label.label-success Active
      -else
        .label.label-default Inactive


  .col-sm-7
    %h4 Projects
    %ul
      -@client.projects.each do |project|
        %li
          %b=link_to project.name, project

