=simple_form_for [@employee, @reprimand], wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|
  =f.association :category
  =f.input :date, as: :dated
  =f.input :note

  =f.button :submit
