-page_title model.name.pluralize

-content_for :options do
  =link_to "New #{model.name}", new_customer_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    -@customers.each do |customer|
      %tr
        %td
          =link_to 'edit', edit_customer_path( customer ), :class => 'btn btn-default btn-xs'
          &nbsp;
          &nbsp;
          =customer.name
