-page_title "Competencies for #{@employee.to_s}"

-content_for :options do
  =link_to 'Back to Employee', employee_path( @employee ), :class => 'btn btn-default btn-block'

=form_for @employee do |f|
  %table.table.table-striped
    %thead
      %th Position
      %th Rate
      %th

    =f.fields_for :competencies do |cf|
      %tr
        %td
          =cf.hidden_field :id
          =cf.hidden_field :position_id
          =cf.object.try(&:position)
        %td
          =cf.text_field :rate, value: number_with_precision(cf.object.rate, precision: 2), :class => 'rate_field'
          per
          =cf.select :rate_interval, PAY_INTERVALS
        %td
          -if cf.object.id
            %label
              =cf.check_box '_destroy'
              Remove

  .col-sm-offset-2
    =f.button :submit, :class => 'btn btn-success'
