.position-status-list
  -Position.alphabetical.each do |pos|
    -assignments = pos.assignments.current

    -if assignments.count > 0
      .position-status
        =render partial: 'pages/tile', locals: {position: pos}
        %span.position-assignment-count=assignments.count
