-form_id = "stop-assignment-form-#{assignment.id}"
= form_for assignment, url: assignment_path(assignment, return_to: request.path), method: :patch, local: true, html: {class: 'stop-assignment', id: form_id} do |f|
  =f.hidden_field :end_date, value: Date.today.to_s(:ymd)
  %span{ onclick: "document.getElementById('#{form_id}').submit();", style: "cursor: pointer;" } &#x1f6d1;
