-presenter = POBTodayPresenter.new(date: params[:date], project: project)

%h2=presenter.title
%h3 Changes
-if presenter.changes.empty?
  .text-muted No changes today.
-else
  -presenter.changes.each do |datum|
    %li
      %b=link_to datum.employee.name, datum.employee
      -if datum.action(presenter.date) == 'Off'
        %span.label.label-default Off
      -else
        %span.label.label-success On

      %span.text-muted
        =datum.onboarding_date.to_s(:md)
        to
        =datum.offboarding_date.to_s(:md)

%h3 Onboard
-presenter.onboard.each do |datum|
  %li
    %b=link_to datum.employee.name, datum.employee
    %span.text-muted
      =datum.onboarding_date.to_s(:md)
      to
      =datum.offboarding_date.to_s(:md)

%h3 Employee Availability
-presenter.offboard.each do |emp|
  %p.employee-status
    .line
      %b=link_to emp.name, emp
    .line=emp.positions.map(&:name).join(', ')
    =render emp.next_availability
