=simple_form_for instance, wrapper: :horizontal_form, html: {class: 'form-horizontal'} do |f|
  =f.input :name
  %legend Major Players
  =f.association :customer
  =f.association :oil_co
  %legend Locations
  =f.association :departure_site
  =f.association :work_site
  %legend Dates
  =f.input :start_date, as: :dated
  =f.input :end_date, as: :dated
  %legend Contact
  =f.input :phone
  =f.input :email
  .spacer
  .spacer
  =f.button :submit
