=simple_form_for instance do |f|
  =f.input :name
  %legend Major Players
  =f.association :customer
  =f.association :oil_co
  %legend Locations
  =f.association :departure_site
  =f.association :work_site
  %legend Dates
  =f.input :start_date, as: :string, input_html: {'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', 'data-date-autoclose' => true}
  =f.input :end_date, as: :string, input_html: {'data-provide' => 'datepicker', 'data-date-format' => 'yyyy-mm-dd', 'data-date-autoclose' => true}
  .spacer
  .spacer
  =f.button :submit
