%h3=link_to project.name, project
%table.table.table-stripe
  %tr
    %th Oil Co
    %td=project.oil_co
  %tr
    %th Customer
    %td=project.customer
  %tr
    %th Departure Site
    %td=project.departure_site
  %tr
    %th Work Site
    %td=project.work_site
  %tr
    %th Phone
    %td
      -if project.phone.not.blank?
        =project.phone
      -else
        .text-muted No Phone Provided
  %tr
    %th Email
    %td
      -if project.email.not.blank?
        =link_to project.email, "mailto: #{project.email}"
      -else
        .text-muted No Email Provided
  %tr
    %th Start Date
    %td=project.start_date
  %tr
    %th End Date
    %td=project.end_date

