-page_title "Inactive Projects"

-if @projects.count == 0
  .alert.alert-info
    No inactive projects at this time. Would you like to
    =link_to 'visit the projects list', projects_path
    ?
.text-large{'style' => 'font-size: 2.3rem'}
  -@projects.each do |project|
    %li
      =link_to project.to_s, edit_project_path(project)
      %span.text-muted (last updated #{project.updated_at.to_date.to_s(:mdy)})
      =button_to('Activate', project_path(project, {project: {active: true}}), method: 'put', class: 'btn btn-sm btn-default', form: {style: 'display: inline-block'})
