-page_title 'Projects'

-content_for :options do
  =link_to 'New Project', new_project_path, :class => 'btn btn-primary btn-block'

%table.table.table-striped
  %thead
    %tr
      %th
      %th Name
      %th Oil Co 
      %th Customer 
      %th Departure Site
      %th Work Site
      %th Start Date
      %th End Date
  %tbody
    -@projects.each do |project|
      %tr
        %td=link_to 'edit', edit_project_path( project ), :class => 'btn btn-default btn-xs'
        %th=link_to project.name, project
        %td=project.oil_co
        %td=project.customer
        %td=project.departure_site
        %td=project.work_site
        %td=project.start_date
        %td=project.end_date
