-content_for :page_title do
  %h1
    %span.text-muted Project:
    =@project.name

-content_for :options do
  %h1 &nbsp;
  =link_to 'Edit', edit_project_path( @project ), :class => 'btn btn-primary btn-block'
  =link_to 'Assign Employees', project_assignments_path(@project), :class => 'btn btn-info btn-block'
  =link_to 'Add Job', new_job_path(job: {project_id: @project.id}), :class => 'btn btn-default btn-block'
  =link_to 'Job Log', project_jobs_path(@project), :class => 'btn btn-default btn-block'

.row
  .col-sm-6
    =render :partial => 'projects/daily', :locals => {project: @project}
  .col-sm-6
    =render @project
