.row.employee
  .col-sm-2.xs-hidden
    .thumb=image_tag employee.picture.url(:thumb)
    .availability.label-full
      -if employee.status == 'Terminated'
        .label.label-warning Terminated
      -elsif employee.status == 'Prospect'
        .label.label-default Prospect
      -else
        =render employee.next_availability

  .col-sm-8
    %h3
      %strong=link_to employee.name, employee
      -if employee.positions.not.empty?
        =employee.positions.map(&:to_s).join(', ')
    .spacer

    .row
      .col-sm-6
        -employee.phone_numbers.each do |label, number|
          .line
            %b=label
            =": "
            =number
