.row.project
  .col-sm-2.xs-hidden
    %center{style: 'font-size: 4em'}
      .glyphicon.glyphicon-ok-sign
    .availability.label-full
      -if project.end_date.try(&:past?)
        .label.label-warning Inactive 
      -else
        .label.label-success Active 

  .col-sm-8
    %h3
      %strong=link_to project.name, project
    %b phone:
    -if project.phone
      =project.phone
    -else
      %span.text-muted Not On File
