%table.table
  %thead
    %tr
      %th Project
      %th Position
      %th Employee
      %th Date
      %th Hours
      %th Pay
  %tbody
    -@timesheet.jobs.each do |job|
      -job.dates.each do |day|
        %tr
          %td=job.project
          %td=job.position
          %td=job.employee
          %td=day
          %td=job.hours_per_day
          %td=job.pay
      /%tr
      /  %td=job.project
      /  %td=job.position
      /  %td=job.employee
      /  %td=job.days
      /  %td=job.hours_per_day
      /  %td=job.rate_per_day
