-content_for :footer do
  =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'
  =javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js'
  =stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css'
  =stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css', media: 'print'

:css
  .fc-view-container {
    background-color: white;
  }

  @media (min-width: 768px)
  {
    .fc-row tr {
        height: 50px;
    }

    .fc-day-grid-container {
      height: inherit !important;
    }
  }

:javascript
  setInterval(function(){
    if($('.mobile').length == 1)
    {
      $('.fc-day-grid-container').css('height', '');
    }
  }, 200);

#calendar


-content_for :scripts do
  :javascript
    $(function() {
      $('#calendar').fullCalendar(
      {
        header:
        {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultView: 'month',
        events: '/calendar.json'
        // put your options and callbacks here
      })
    });
