-page_title 'POB Summary'

-content_for :options do
  .panel.panel-info
    .panel-body
      =simple_form_for @pob_summary, :url => '/reports/pob_summary', wrapper: :vertical_form do |f|
        =f.input :start_date, as: :dated, required: true
        =f.input :end_date, as: :dated, required: true
        =f.input :employee_id, collection: Employee.alphabetical, required: false
        =f.input :project_id, collection: Project.all, required: false
        =f.button :submit, 'Build Report'

  .spacer

-if @pob_summary.show_results
  =link_to "Get PDF", url_for(params.merge(:controller => 'reports', :action => 'pob_summary', format: :pdf)), class: 'btn btn-info pull-right'
  .spacer

%table.table
  %thead
    %tr
      %th Employee
      %th Project
      %th Position
      %th Dates
      %th Days
  %tbody
    -@pob_summary.data.each do |datum|
      %tr
        %td=datum.employee.name
        %td=datum.project.name
        %td=datum.position.name
        %td
          =datum.start_date.to_s(:friendly)
          to
          =datum.end_date.to_s(:friendly)
        %td=datum.days
