-page_title 'POB Summary'

=simple_form_for @pob_summary, :url => '/reports/pob_summary' do |f|
  =f.input :start_date, as: :dated, required: false
  =f.input :end_date, as: :dated, required: false
  =f.input :employee_id, collection: Employee.alphabetical, required: false
  =f.input :project_id, collection: Project.all, required: false
  =f.button :submit, 'Build Report'

.spacer
.spacer

%table.table
  %thead
    %tr
      %th Employee
      %th Project
      %th Position
      %th Dates
      %th Days
  %tbody
    -@pob_summary.data.each do |datum|
      %tr
        %td=datum.employee.name
        %td=datum.project.name
        %td=datum.position.name
        %td
          =datum.start_date.to_s(:friendly)
          to
          =datum.end_date.to_s(:friendly)
        %td=datum.days
