-page_title "Timesheet Report"

-content_for :options do
  .panel.panel-info
    .panel-body
      =simple_form_for @timesheet, :url => '/reports/timesheet', wrapper: :vertical_form do |f|
        =f.input :start_date, as: :dated, required: true
        =f.input :end_date, as: :dated, required: true
        =f.input :employee_id, collection: Employee.alphabetical, required: false
        =f.input :project_id, collection: Project.all, required: false
        =f.button :submit, 'Build Report'

%table.table
  %thead
    %tr
      %th Project
      %th Position
      %th Employee 
      %th Date 
      %th Hours 
      %th Rate per Day
  %tbody
    -@timesheet.jobs.each do |job|
      -job.dates.each do |day|
        %tr
          %td=job.project
          %td=job.position
          %td=job.employee
          %td=day
          %td=job.hours_per_day
          %td=job.rate_per_day
      /%tr
      /  %td=job.project
      /  %td=job.position
      /  %td=job.employee
      /  %td=job.days
      /  %td=job.hours_per_day
      /  %td=job.rate_per_day
