-page_title "Year End Report"

-content_for :options do
  .panel.panel-info
    .panel-body
      =simple_form_for @report, :url => '/reports/year_end', wrapper: :vertical_form do |f|
        =f.input :year, collection: ((Date.today.year - 3)..(Date.today.year)).to_a, required: true, include_blank: false
        =f.input :employee_id, collection: Employee.alphabetical, required: false
        =f.input :project_id, collection: Project.all, required: false
        =f.button :submit, 'Build Report'

=link_to url_for(params.merge(:controller => 'reports', :action => 'year_end', format: :pdf)), class: 'btn btn-info pull-right' do
  Get PDF
.spacer

%table.table
  %thead
    %tr
      %th Project
      %th Employee 
      %th Total Days 
      %th Total Hours 
  %tbody
    -@report.data.each do |datum|
      %tr
        %td=datum.project
        %td=datum.employee
        %td=datum.days
        %td=datum.hours
  -if @report.data.not.empty?
    %tfoot
      %tr
        %th{colspan: 2} Totals
        %td=@report.total_days
        %td=@report.total_hours
