%header
  .navbar.navbar-default.navbar-static-top{role: 'navigation'}
    %button.pull-right.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .container
      /#navbar-search-area.pull-right
      /  =form_for Search.new(term: params[:term]), url: search_path, method: "get", html: { class: 'navbar-form site-search' } do |f|

      /    .form-group
      /      .icon-addon.addon-sm
      /        =f.text_field :term, :id => 'search', :placeholder => 'search', 'input-html' => 'col-xs-5 col-sm-3 col-md-4'
      /        %label.glyphicon.glyphicon-search{rel: 'tooltip', title: 'search'}

      .navbar-header
        .hidden-xs
          =link_to 'MAKO POB Manager', root_path, class: 'navbar-brand'
        .visible-xs
          =link_to 'MAKO', root_path, class: 'navbar-brand'
      .navigation
        #navbar-section-1.collapse.navbar-collapse.header-collapse
          %ul.nav.navbar-nav
            %li
              =link_to 'Calendar', "/reports/calendar" 
            %li
              =link_to 'Employees', employees_path
            %li
              =link_to 'Jobs', jobs_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Etc 
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'Cert Names', cert_names_path
                %li
                  =link_to 'Customers', customers_path
                %li
                  =link_to 'Departure Sites', departure_sites_path
                %li
                  =link_to 'Oil Companies', oil_cos_path
                %li
                  =link_to 'Positions', positions_path
                %li
                  =link_to 'Projects', projects_path
                %li
                  =link_to 'Users', users_path
                %li
                  =link_to 'Work Sites', work_sites_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Reports
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'POB Summary', '/reports/pob_summary'
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to 'Logout', logout_path
