%header
  .navbar.navbar-default.navbar-static-top{role: 'navigation'}
    %button.pull-right.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .container
      .navbar-header
        .hidden-xs
          =link_to 'MAKO POB Manager', root_path, class: 'navbar-brand'
        .visible-xs
          =link_to 'MAKO', root_path, class: 'navbar-brand'
      .navigation.collapse.navbar-collapse
        #navbar-section-1.navbar-left
          %ul.nav.navbar-nav
            %li
              =link_to 'Employees', root_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Etc
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'Cert Names', cert_names_path
                %li
                  =link_to 'Positions', positions_path
                %li
                  =link_to 'Users', users_path

        #navbar-section-2.navbar-right
          %ul.nav.navbar-nav
            %li
              =link_to 'Logout', logout_path
        =form_for Search.new(params[:search]), url: search_path, method: "get", html: { class: 'navbar-form site-search' } do |f|

          .form-group
            .icon-addon.addon-sm
              =f.text_field :term, :id => 'search', :placeholder => 'search', 'input-html' => 'col-xs-5 col-sm-3 col-md-4'
              %label.glyphicon.glyphicon-search{rel: 'tooltip', title: 'search'}
