<!DOCTYPE html>
<html>
<head>
  <title>Mako</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-liquid">


    <header class="header black-bg">
      <!--logo start-->
      <a href="index.html" class="logo"><b>Mako POB manager</b></a>
      <!--logo end-->

      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>

    <%= yield %>
  </div>

</body>
</html>
